{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Hello World {% endblock %}

{% block body %}

    <h1>Hello World</h1>
    <p>Welcome to the Symfony application!</p>
    {%  for ship in ships %}
        <p><a href="{{ path('ship', { 'id': ship.id }) }}">{{ ship.name }}</a></p>
    {% endfor %}
{% endblock %}