{% extends 'base.html.twig' %}
{% block title %}Symfony OAuth{% endblock %}
{% block body %}
    <div>
        <h1>Index - No Secured</h1>
        <div><a href="{{ path('admin_index') }}">Go to admin</a></div>
    </div>
{% endblock %}